*, *:before, *:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 24px 192px 96px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header-links {
    display: flex;
    gap: 36px;
}

a:link {
    color: #f9faf8;
    text-decoration: none;
}

a:hover {
    color: #3882F6;
    text-decoration: underline;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.header-bottom-left p {
    text-align: justify;
}

.header-bottom-right {
    display: flex;
}

.header-bottom-right img {
    border: 3px solid gray;
    max-width: 200%;
    max-height:100%;
    flex-shrink: 1;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    max-width: 560px;
}

p,
button {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}

p {
    max-width: 560px;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 8px 24px;
    border-radius: 8%;
    max-width: fit-content;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 48px 192px 96px; 
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 48px;
    gap: 32px;
}

h2 {
    font-size: 32px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 240px;
}

.info img {
    border: 3px solid #3882F6;
    border-radius: 24px;

}

.text {
    text-align: center;
    padding: 16px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 96px 320px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
    padding-bottom: 24px;
}

.attribution {
    text-align: end;
    font-size: 20px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 96px 192px;
    padding: 64px;
    background-color: #3882F6;
    gap: 32px;
    border-radius: 12px;
}

.cta-left {
    color: #f9faf8;
}

.cta-title {
    font-weight: 900;
    font-size: 20px;
}

.cta-right {
    flex-shrink: 0;
}

.cta-right button {
    border: 2px solid #e5e7eb;
    border-radius: 12px;
}